{% extends 'layout.html '%}
{% block title%}Home {% endblock%}
{% block content%} 
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont icofont icofont-anchor bg-c-yellow"></i>
                                <div class="d-inline">
                                    <h4>Refer-DM</h4>
                                    <span>Real time fertlity detection and monitoring</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Hello!</h5>
                                </div>
                                <div class="card-block">
                                    <p>
                                        Real time fertlity detection and monitoring is a realtime website which provide water fertility information in 4 catch zone.
                                        This website arranged for Marine Instrumentation assignment.
                                    </p>
                                    <p>Founder (Team 6):
                                        <ol>
                                            <li>Ghinna Naida PA</li>
                                            <li>Cepy Septy Yan</li>
                                            <li>Yudhi Ahmadi</li>
                                        </ol> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}